run = "./main"
hidden = ["main"]
compile = ["bash", "build.bash"]

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "./main"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "bash", "build.bash"]
