<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    {{template "menuImports"}}
</head>
<body>
    {{template "menu"}}

    <p>Sorry, this part of the site is a WIP</p>

    <p>
    The FontStruction “Minecraft Ten Lowercase”
(https://fontstruct.com/fontstructions/show/2168850) by “Patred” is licensed
under a Creative Commons Attribution Share Alike license
(http://creativecommons.org/licenses/by-sa/3.0/).
    </p>

    {{template "sub-template"}}
</body>
</html>