<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unusual Squad</title>
    <link rel="stylesheet" href="./styles/style.css">
    {{define "menuImports"}}
    <script>
        //document.body.style.setProperty('--menuImgBoxW', ((501 / 1440 * 100) + ((35 / 1440 * 100)-(501 / 1440 * 100)))+"vw");

        window.addEventListener('scroll', () => {
            document.body.style.setProperty('--scroll', window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
            document.body.style.setProperty('--menuImgBoxW', ((501 / 1440 * 100) + ((35 / 1440 * 100)-(501 / 1440 * 100))*Math.min(2.5*(window.pageYOffset / (document.body.offsetHeight - window.innerHeight)), .5))+"vw");
            
            console.log(document.body.style.getPropertyValue('--menuImgBoxW'))
        }, false);
    </script>
    {{ end }}
</head>
<body>
    {{define "menu"}}
    <div id="topBanner">
        <div>
            <a class="menuLink" href="/">Home</a>
            <a class="menuLink" href="/projects">Our Projects</a>
        </div>
        <div id="menuImgBox"></div>
        <div>
            <a class="menuLink" href="/team">The team</a>
            <a class="menuLink" id="menuDiscordLink" href="https://discord.gg/unusual-squad-770319580195061842">Discord</a>
        </div>
        <div id="redWShadow"></div>
    </div>
    <div class="menuImg menuImgWithoutSquad"></div>
    <div class="menuImg menuImgWithSquad"></div>
    <div id="menu"></div>
    {{end}}
</body>
</html>